@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    background-color:aliceblue;
    margin: 0px;
    padding: 0px;
    
}

#head{
    position: absolute;
    padding: 0px;
    margin: 0px;
  
    width: 100%;
    height: 100px;
    
}

.one-bl{
padding: 0px;
    margin: 0px;
    background-image: url(jpg\fon-one.png);
    position: absolute;
    width:100%; 
    height: 950px;
    color: aliceblue;
}

.name-logo{  
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 50px;
    
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
 }

.nav-menu{
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 75px;
    width: 100%;
    background-color: rgba(0, 26, 49, 0.12);
}
.logo{
    padding: 0px;
    margin: 0px;
    position: fixed;
    display: flex;
    top: 25px;
}
.menu{
    position: fixed;
    display: block;
    margin: 0px;
    padding: 0px;
    left: 50%;
    top: 20px;
    }

.menu li{
    padding: 10px;
    display: inline;
    
    font-family: 'Montserrat', monospace;
    font-size: 25px;
    
}

.premier-text{
    display: block;
    position: absolute;
    top: 250px;
    left: 50px;
    font-family: 'Montserrat', monospace;
    font-size: 25px;
}
